h1 {
    background-color: white;
margin: 2;
background-position: center;
background-size: cover;
}

body {
            background-image: url('../Imagenes/XPW.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }